.post {
  cursor: pointer;
  padding: 8px 16px 16px;
  border-bottom: 1px solid #2f3336;
  width: 100%;
  @media (hover: hover) {
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover {
      background-color: #16181c;
    }
  }
  &__parent {
    color: rgb(114, 119, 124);
    & a {
      text-decoration: underline;
      @media (hover: hover) {
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        &:hover {
         color: #1d9bf0;
        }
      }
    }
  }
  &__post {
    padding-top: 8px;
    display: flex;
    gap: 8px;
  }
  &__pfp-wrapper {
    border-radius: 50%;
    overflow: hidden;
    width: 41px;
    height: 41px;
    min-width: 41px;
    min-height: 41px;
  }
  &__user-info {
    display: flex;
    width: fit-content;
    align-items: flex-end;
    flex-wrap: wrap;
    column-gap: 6px;
    @media (hover: hover) {
      &:hover {
        h3 {
          text-decoration: underline;
        }
      }
    }
  }
  &__date {
    color: rgb(47, 51, 54);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }
  &__content {
    margin-top: 7px;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    white-space: pre-line;
  }
  &__funcs {
    margin-top: 15px;
    display: flex;
    gap: 85px;
    align-items: center;
  }
  &__func {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    cursor: pointer;
    user-select: none;
    @media (hover: hover) {
      &:hover &-image {
        filter: invert(53%) sepia(31%) saturate(4849%) hue-rotate(179deg)
          brightness(98%) contrast(91%);
      }
      &:hover {
        color: #1d9bf0;
      }
    }
  }
  &__func-image {
    width: 20px;
    height: 16px;
  }
}
