.profile-component {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  gap: 14px;
  
  &__image-wrapper {
    border-radius: 50%;
    overflow: hidden;
    width: 41px;
    height: 41px;
  }
}
